# Database Configuration
DB_HOST=bs2axn00kya2bfahhkok-mysql.services.clever-cloud.com
DB_USER=ud6cfvo0k53xr6t9
DB_PASSWORD=IXSrKjxFE9FFxmuMlzJE
DB_NAME=bs2axn00kya2bfahhkok
DB_PORT=3306
DB_CONNECTION_LIMIT=20

# Server Configuration
PORT=3000
NODE_ENV=development

# API Security
API_KEY=f994a7d6-a4c5-46bd-85c4-964f11d877a5
# JWT
JWT_SECRET=change-me